<table>
  <thead>
    <tr>
      <th></th>
      <th>Time</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
  {{#each entries as |entry index|}}
    {{entry-row entry=entry
                index=index}}
  {{/each}}
  </tbody>
</table>