<table>
  <thead>
    <tr>
      <th></th>
      <th>Time</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
  {{#each entries as |entry index|}}
    <tr>
      <td>{{place index}}</td>
      <td><span>{{entry.score}}</span></td>
      <td><span>{{entry.name}}</span></td>
    </tr>
  {{/each}}
  </tbody>
</table>